
services:
  ai_server:
    build: .
    container_name: console_ai_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - .:/app